<body class="welcome">

<div class="dashboard">

<div style="text-align:center; color:white; 
background-color: rgba(52, 52, 52, 0.8); position: absolute; 
top: 20vh; width: 100vw">

<h3>
The Coding Collective is on online platform where software developers and enthusiasts can connect and grow together!
</h3>

<div style="font-size:20px;">
<p>
Whether you're looking to join a new networking group or looking to expand your knowledge, this is the place for you. <br/><br/>
To register for an event, visit our events page to see all upcoming meetups.<br/><br/>
You can narrow down your search by looking at events by language as well. <br/><br/>
In recognition of every programmer's unique background and experience, we allow any user to create thier own event to share their knowledge and connect with like-minded people.<br/><br/>
***We only ask that all events remain all-inclusive and refrain from political, religious or other divisive topics. We're here to open up a friendly and inviting space for all.***<br/><br/></p>
<p>Learned something new? We want to hear from you. <a href="mailto:managment@codingcollab.com" style="color:lightblue">Email us!</a><br/>
Happy coding!<br/>
</p>

</div>
</div>
</div>

</body>