<h2> Dashboard </h2>


<h3>Hi, <%= session[:name] %>.</h3>

<%= link_to 'View Events', :controller => "events", :action => "index"%><br>

<%= link_to 'Create an Event', :controller => "events", :action => "new"%><br>

<%= link_to "Log Out", :controller=> "sessions", :action=> "destroy" %><br>