// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body.events {
  background-image: image-url('ideas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
width: 40%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

