// Place all the styles related to the Languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body.languages {
    background-image: image-url('laptopcoffee.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
  }

.languages h1 {
  color:darkolivegreen;text-shadow: 2px 2px beige; 
  text-align: right;
  margin-top: 365px;
  margin-right: 200px;
  margin-bottom: 200px;
}

body.languages ul {
  column-count: 4;
  text-align: right;
  gap: none;
    list-style-type:none; 
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 300px;
}

body.languages ol {
  column-count: 3;
  text-align: right;
  gap: none;
    list-style-type:none; 
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 300px;
}

body.show-lang {
  margin: 150px;
  background-color: beige;
  color: darkolivegreen;
}

body.show-lang img{
  overflow: auto;
  float: left;
}

.languages a {
  font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: darkolivegreen;    
 text-shadow: 2px 2px  beige;
}