// Place all the styles related to the Languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body.languages {
    background-image: image-url('laptopcoffee.jpg'); 
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    font-size: x-large;
  }

h1 {
  color:darkolivegreen;text-shadow: 2px 2px beige; 
  text-align: center;
  margin-top: 350px;
}

body.languages ul {
  column-count: 5;
  text-align: center;
  gap: none;
    list-style-type:none; 
    margin-top: 150px;
}

body.show-lang {
  margin: 150px;
  background-color: beige;
  color: darkolivegreen;
}

body.show-lang img{
  overflow: auto;
  float: left;
}

.languages a {
  font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: darkolivegreen;    
 text-shadow: 2px 2px  beige;
}