body.sign-in {
    background-image: image-url('teamwork.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 50vh;
}

.sign-in {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sign-in a {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sign-in h1{
    margin-top: 10vh;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    text-align: center;
    color: black;
}

.create-link a{
    color: black;
}

.form{
    align-self: center;
}