// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-profile {
    background-image: image-url('teamwork.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 50vh;
    margin-top: 20vh;
}

.new-profile {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.new-profile a {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.new-profile h1 {
    margin-top: 5%;
    margin-bottom: 3;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    text-align: center;
    color: black;
}